{% load static %}
<!DOCTYPE html>
<html lang="es-ES"> <!--...-->
		<head> <!--Metadatos OBLIGATORIA-->
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Somos expertos en desarrollo inmobiliario, con mas de 20 años de experiencia en el mercado">  <!--Agragar Descripcion-->
		<link rel="preconnect" href="https://fonts.googleapis.com"><!-- estilo fuente-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- estilo fuente-->
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> <!-- estilo fuente-->
		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">  <!-- Archivo de estilos -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
		crossorigin="anonymous" referrerpolicy="no-referrer" /> <!--link del CDM de los iconos-->
		<title> Realestate </title> <!--titulo-->
	</head>
	<body>
        <header id="home"><!--cabecera-->
			<div class="contenedor">
				<div class="logo"> <!--Contenedor del logo-->
					<img src="{% static 'polls/logo/logo.png' %}" alt="logo"> <!-- imagen del logo -->
					<p>Realestate</p> <!-- Texto logo-->
				</div>
				<!--<input type="checkbox" id="toggle">
            	<label for="toggle"><i class="fa-solid fa-bars"></i></label>-->
				<nav> <!-- Barra de menu-->
					<a href="#hero">Home</a>
					<a href="#nosotros">Nosotros</a>
					<a href="#serie">Serie</a>
					<a href="#contacto">Contacto</a>
					<a href="#ubicacion">Ubicacion</a>
				</nav>
			</div>
		</header>

<section id="hero"> <!--banner principal-->
			<h1>Nuestros Desarrollos</h1>  <!-- Texto central del banner principal-->
			<form action="{% static 'polls/brochure.pdf' %}" target="_blank"> <!-- descarga del folleto PDF -->
				<button>Brochure Paper</button> <!--Boton del centro de la pagina-->
			</form>
		</section>

		<section id="nosotros"> <!--Seccion Nosotros-->
			<div class="contenedor">
				<div class="iframenosotros"><iframe src="https://www.youtube.com/embed/iL0pv2FpnqA?start=10&end=63&mute=1&autoplay=1&controls=0&disablekb=0&modestbranding=0&rel=0&showinfo=0&playlist=iL0pv2FpnqA&loop=1" title="trailer" frameborder="0"></iframe></div><!--Imagen de la seccion nosotros, la agregamos en CSS-->
				<div class="textonosotros"> <!-- Contenedor de texto de la Seccion Nosotros -->
					<h2>Sobre <br> <span class="color-acento">Realestate</span></h2> <!-- Titulo de la seccion Nosotros -->
					<P> <!-- Texto de la seccion Nosotros-->
						A través de la creación, inversión y gerenciamiento de las mismas, buscamos aportar valor agregado y seguir transformando las industrias a las que pertenecemos, 
						mejorando la experiencia de los clientes, dándoles un servicio diferencial y generando retornos a nuestros  inversores. <br><br>
						Fomentamos una cultura de ética, sin egos, sinérgica y profesional; de puertas abiertas, creativa y de 
						pensamientos distintos; con plena confianza y delegación en nuestra gente; estableciendo relaciones verdaderas y de largo plazo.</P>
				</div>
			</div>
		</section>

		<section id="serie"><!--seccion de tarjetas-->
			<div class="contenedor">
				<h2>Serie <span class="color-acento">Realestate</span></h2> <!--Titulo de la seccion de tarjetas -->
					<div class="datos_empresa"> <!--Este div permite darle estilo al sub menu-->
						<div class="submenu"><!--tarjeta 1-->
							<h3>Viviendas</h3> <!-- Tarjeta viviendas-->
							<p>Un producto único, que busca generar una experiencia diferente en un entorno de disfrute, contención y tranquilidad, 
								inmerso en la naturaleza. <br>
								Con unidades que se entregan totalmente decoradas y equipadas, con los más completos amenities y servicios, 
								y en entornos que invitan a respirar naturaleza, disfrutar es el único resultado posible.
							</p>
								<a href="viviendasmobile.html"><button>+ info</button></a>
						</div>
						<div class="submenu"><!--tarjeta Edificios-->
							<h3>Edificios</h3>
							<p>Desarrollamos Edificio residencial Premium exclusivos. Ofrecemos la posibilidad de acceder a unidades en lista cero (al costo): 
								a precio cerrado, sin ajustes CAC, sin comisiones inmobiliarias. Obra de bajo riesgo constructivo y financiero, con tiempos de obra cortos por 
								contar con proyecto ya aprobado.
							</p>
								<a href="edificiosmobile.html"><button>+ info</button></a>
						</div>
						<div class="submenu">
							<h3>Industria</h3><!--tarjeta industrias-->
							<p>Somos especialistas en inmuebles industriales y contamos con un equipo de profesionales en el desarrollo y planificación de locaciones industriales
								Aplicamos tecnologías de última generación, para cumplir con lo más alto estándares en seguridad y cuidado del medio ambiente. 
			
							</p>
								<a href="industriasmobile.html"><button>+ info</button></a>
						</div>
					</div>
			</div>
		</section>

		<section id="contacto"><!--Seccion de formulario de contacto-->
			<div class="contenedor"><!-- Contenedor general Titulo/formulario-imagen-->
				<div> <!-- Contenedor de titulo-->
					<h2>Contacto</h2>
		
				</div>
				<div class="contenedorform"> <!-- Contenedor Formualario e imagen -->
					<div class="formulario"> <!--Contenedor Formulario -->
						<form  action = "" name="contacto" method = "post"> 
						    {% csrf_token %}
							{{ form }}
							<button type= "submit" id="btnEnviar" class="button">Enviar</button>
							{{mensaje}}
						</form>
						
					</div>
					<div class="imgcontacto"></div><!--Imagen telefonista-->
				</div>
			</div>
		</section>

		<section id="ubicacion"> <!-- Seccion de Iframe Google Maps-->
			<h2>Ubicacion</h2> <!-- TiTulo-->
			<div id="map"></div> <!-- API de MAPS-->
		</section> <!-- Mapa -->
		
		<footer> <!-- Parte de contactos-->
			<div class="contenedor"><!--Contendor del copyright-->
				<div class="cajadatos">
					<div class="datos"> <!--Instagram -->
						<i class="fa-brands fa-square-instagram"></i> <a href="https://www.instagram.com/realestate/?hl=es" target="_blank">@reakestate</a>

					</div>
					<div class="datos"> <!--Whatsapp -->
						<i class="fa-solid fa-phone"></i><a href="https://api.whatsapp.com/send?phone=541143214321" target="_blank">1143214321</a>
						
					</div>
					<div class="datos"> <!-- Mail -->
						<i class="fa-solid fa-envelope"></i> <a href="mailto:consultas@realestate.com" target="_blank">consultas@realestate.com</a>
						
					</div>
					<div class="datos"> <!-- Localizacion -->
						<i class="fa-solid fa-location-dot"></i> <a href="https://maps.app.goo.gl/7smjejBQubtxXAZKA" target="_blank">Calle 14 N°12, La Plata, Buenos aires </a>
						
					</div>
				</div>
				<div class="copy"> <!-- Seccion Copy -->
					<p>&copy;Mi empresa 2023</p> <!--Etiqueta para agregar un copyright-->

				</div>
			</div>
		</footer>
		<script src="{% static 'polls/validacion.js' %}"></script>
		<script src="{% static 'polls/ubicacion.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>      
	</body>
</html>